<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="This is a Real Estate Website" />
    <title>Emlak Website</title>
    <!-- Main Template Css File -->
    <link rel="stylesheet" href="~/css/emlak.css" />
    <link rel="stylesheet" href="~/css/header_footer.css">

    <!-- Box icons Link -->
    <link rel="stylesheet"
          href="https://unpkg.com/boxicons@latest/css/boxicons.min.css" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap"
          rel="stylesheet" />

    <!--  -->

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">


    <!--aos animation  -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>
<body>
    <!-- Start HEader  -->
    <header class="header">
        <nav class="nav container">
            <div class="nav__data">
                <a href="#" class="nav__logo">
                    <img src="images/logo.png" />
                </a>
                <div class="nav__toggle" id="nav-toggle">
                    <i class="ri-menu-line nav__burger"></i>
                    <i class="ri-close-line nav__close"></i>
                </div>
                <div class="h-btn">
                    <a asp-area ="Identity" asp-page="/Account/Login">
                        <button class="btnsignin-popup">Sign in</button>
                    </a>
                    <a  asp-area="Identity" asp-page="/Account/Register">
                        <button class="btnsignin-popup">Sign up</button>
                    </a>
                </div>
            </div>
            <!--=============== NAV MENU ===============-->
            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li><a asp-page="Index" class="nav__link">Home</a></li>


                    <!--=============== DROPDOWN 1 ===============-->
                    <li class="dropdown__item">
                        <div class="nav__link">
                            listings <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                        </div>

                        <ul class="dropdown__menu">
                            <li>
                                <a asp-area="Identity" asp-page="/Account/Manage/Dashboard" class="dropdown__link">Dashboard</a>
                            </li>

                            <li>
                                <a asp-controller="Property" asp-action="Create" class="dropdown__link">Post Property </a>
                            </li>
                            <li>
                                <a asp-controller="Property" asp-action="MyPosts" class="dropdown__link">My Posts </a>
                            </li>
                        </ul>
                    </li>


                    <li class="dropdown__item">
                        <div class="nav__link">
                            Buying <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                        </div>

                        <ul class="dropdown__menu">
                            <li>
                                <a href="/Property/Create" class="dropdown__link">Selling</a>
                            </li>

                            <li>
                                <a href="/Property/RentingIndex" class="dropdown__link">Renting</a>
                            </li>
                            <li>
                                <a href="/Property/BuyingIndex" class="dropdown__link">Buying</a>
                            </li>
                        </ul>
                    </li>

                    <!--=============== DROPDOWN 2 ===============-->
                    <li class="dropdown__item">
                        <div class="nav__link">
                            Options <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                        </div>

                        <ul class="dropdown__menu">
                            <li>
                                <a href="#" class="dropdown__link">Filter search</a>
                            </li>

                            <li>
                                <a asp-controller="Property" asp-action="GerneralIndex" class="dropdown__link">All listings</a>
                            </li>
                        </ul>
                    </li>


                    <li class="dropdown__item">
                        <div class="nav__link">
                            Help <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                        </div>

                        <ul class="dropdown__menu">
                            <li>
                                <a href="#" class="dropdown__link">About us</a>
                            </li>

                            <li>
                                <a asp-controller="Contact" asp-action="Create" class="dropdown__link">Contact us</a>
                            </li>
                        </ul>
                    </li>

                    <li><a asp-controller="Property" asp-action="SavedProperty" class="nav__link">saved <i class="far fa-heart"></i></a></li>

                </ul>
            </div>
            <div class="g-btn">
                <a href="signin.html">
                    <button class="gbtnsignin-popup">Sign in</button>
                </a>
                <a href="signin.html">
                    <button class="gbtnsignin-popup">Sign up</button>
                </a>
            </div>

        </nav>

    </header>
    <!-- End HEader -->
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <!-- About Section -->
    <!-- Contact Us + Footer-->
    <footer class="footer">
        <div class="footer-content">
            <img src="images/logo.png" alt="" />
            <p>
                ASAS offers comprehensive listings, detailed property descriptions,
                and virtual tours to help buyers and renters find their perfect home..
            </p>
        </div>
        <div class="footer-content">
            <h4>Quick Link</h4>
            <li><a href="#">Home</a></li>
            <li><a href="buy.html">Buying</a></li>
            <li><a href="sell.html">Selling</a></li>
            <li><a href="rent.html">Renting</a></li>
        </div>

        <div class="footer-content">
            <h4>Support</h4>
            <li><a href="about.html">About us</a></li>
            <li><a href="contact.html">Contact us</a></li>
            <li><a href="#Privacy">Privacy Policy</a></li>
            <li><a href="terms&conditions">Terms & Conditions</a></li>
        </div>

        <div class="footer-content">
            <h4>Get in touch</h4>
            <li><a href="mailto">hello@emlak.com</a></li>

            <div class="icons">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-youtube"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </div>
        </div>
    </footer>

    <!-- aos animation -->
    <!-- <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({
        offset: 250,
        duration: 700,
      });
    </script> -->
    <!-- Script js -->
    <script src="js/script.js"></script>
   @*  <!-- aos animation -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({
            offset: 250,
            duration: 700,
        });
    </script>
    <!-- Script js -->
    <script src="~/js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

    <script>

        var swiper = new Swiper(".images-container", {
            effect: "coverflow",
            grabCursor: true,
            centeredSlides: true,
            slidesPerView: "auto",
            loop: true,
            coverflowEffect: {
                rotate: 0,
                stretch: 0,
                depth: 200,
                modifier: 3,
                slideShadows: true,
            },
            pagination: {
                el: ".swiper-pagination",
            },
        });

    </script>
    <script src="js/script.js"></script> *@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>