@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<br>
<br>
<br>
<br>
<br>
<br>
<h1><center style="color:wheat">@ViewData["Title"]</center></h1>
<br>
<br>
<br>

<center style="color:white" >
    <partial name="_StatusMessage" model="Model.StatusMessage" />
</center>