@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}


    <br>    
    <br>
    <br>
    <br>


<h1 class="text-danger"><center style="color:white">@ViewData["Title"]</center></h1>
<br>
<br>

<p class="text-danger"><center style="color:white">This account has been locked out, please try again later.</center></p>
