@page
@model LoginModel


<div class="wrapper">
    <div class="form-box signin">
        
            <form id="account" method="post">
                <h2>Sign In</h2>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="input-box">
                    <input asp-for="Input.UserName"  aria-required="true" />
                    <label asp-for="Input.UserName" ></label>
                    <span class="ico"> <i class="fa-solid fa-user"></i></span>
                </div>
                <div class ="input-box">
                    <input asp-for="Input.Password" aria-required="true" />
                    <label asp-for="Input.Password" ></label>
                    <span class="ico"><i class="fa-solid fa-lock"></i></span>
                </div>
                <div>
                    <div class="remember-forgot">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="btnn">Sign in</button>
                </div>

                    <div class="signin-signup">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                        <p>
                        Don't have an account?  <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">
                            Sign up
                            </a>
                        </p>
                </div>
            </form>
        <div class="media-options">
            <a href="#"
               target="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox">
                <i class="fa-brands fa-google"></i>
                <span>sign in with Google</span>
            </a>
            <a href="#" target="_blank">
                <i class="fa-brands fa-facebook"></i>
                <span>Sign in with Facebook</span>
            </a>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
